# Project exclude paths
/.gradle/
/build/
/composeApp/build/
/composeApp/build/classes/kotlin/js/main/
/composeApp/build/classes/kotlin/jvm/main/
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.4.3-commonMain-eAUs7w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.4.3-webMain-eAUs7w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.4.3-commonMain-t4hyyQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.4.3-nonJvmMain-t4hyyQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.4.3-webMain-t4hyyQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.4.3-commonMain-RjuTwg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.4.3-webMain-RjuTwg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-websockets-3.4.3-commonMain-7exFYg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-events-3.4.3-commonMain-XZDMxw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.4.3-commonMain-O35Q8A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.4.3-webMain-O35Q8A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.4.3-commonMain-akf11g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-cio-3.4.3-webMain-akf11g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.4.3-commonMain-V42Img.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.4.3-webMain-V42Img.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-3.4.3-commonMain-x1dMrQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.4.3-commonMain-MnRA9w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.4.3-webMain-MnRA9w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.4.3-commonMain-49da1Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-sse-3.4.3-commonMain-Hxwpkw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.4.3-commonMain-PRCUkg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.4.3-webMain-PRCUkg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websocket-serialization-3.4.3-commonMain-RI_psg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.4.3-commonMain-vcPIBg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.4.3-webMain-vcPIBg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.28.0-commonMain-UmPgNA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.28.0-jsAndWasmSharedMain-UmPgNA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.10.2-commonMain-wJOvIw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.8.2-commonMain-VZ6v5A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.8.2-commonMain-xiPa1w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.8.2-nodeFilesystemSharedMain-xiPa1w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.9.0-commonMain-DVGtaQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.9.0-commonMain-_ulzXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-io-1.9.0-commonMain-9iQ-sg.klib
/.kotlin/errors/errors-1778905935351.log
/.kotlin/errors/errors-1778905935358.log
/.kotlin/errors/errors-1778905974810.log
